.header__menu-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.header__menu-link:hover, .header__menu-link:focus {
    color: #663187;
    background-color: white;
    border-radius: 30px;
    text-shadow: none
}

.header__menu-link.active {
    color: #663187;
    background-color: white;
    border-radius: 30px;
    text-shadow: none;
}
