.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1.5rem;
}

@media (max-width: 1024px) {
    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .header__menu {
        gap: 0.8rem;
    }
}

@media (max-width: 480px) {
    .header__menu {
        gap: 0.5rem;
    }
}