.payment-modal__button {
    width: 450px;
    height: 75px;
    font-family: Compacta, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: white;
    color: #663287;
    border: none;
    font-size: 28px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    will-change: transform;
    align-self: center;
}

.payment-modal__button:hover {
    color: #ffffff;
    background-color: #663287;
    transform: scale(1.05);
}