.modal__content-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
}
.modal__content-close:hover {
    color: red;
}