.footer__link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
}

.footer__link:hover {
    color: #ff7ba5;
}

@media (max-width: 1280px) {
    .footer__link {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .footer__link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .footer__link {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer__link {
        font-size: 12px;
    }
}