.schedule {
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .schedule {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}