.information__button {
    width: 700px;
    height: 100px;
    font-family: Compacta;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #6b36d1;
    color: white;
    border: none;
    font-size: 39px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.information__button a {
    color: white;
    text-decoration: none;
}

.information__button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

.information__button:hover a {
    color: #6b36d1;
}